.App {
  font-family: sans-serif;
  text-align: center;
}
.modal-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: aliceblue;
  width: 200px;
  margin: 15px;
  
}
